.report-detail {
  margin-bottom: 5rem;
  width: 100%;
  max-width: 1200px; /* Increase the max-width for a wider layout */
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* Center the report detail in the middle */

  .card {
    width: 100%;
    padding: 2rem; /* Adjust padding */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .detail {
    & > * {
      margin-bottom: 1.5rem;
    }

    .badge {
      display: inline-block;
      background-color: var(--color-primary);
      color: #ffffff;
      padding: 0.3rem 0.6rem;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    p b {
      color: var(--dark-blue);
      font-weight: 600;
    }

    .report-images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 1.5rem;
      overflow-x: auto;

      .report-image {
        max-height: 300px; /* Increase image size */
        max-width: 400px; /* Increase image width */
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
      }

      .report-image:hover {
        transform: scale(1.05); /* Slightly increase the scale on hover */
      }
    }

    .product-summary {
      padding: 1.5rem;
      border: 1px solid #e6e6e6;
      border-radius: 12px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      margin-bottom: 2rem;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      h5 {
        font-size: 1.7rem; /* Increase font size */
        font-weight: bold;
        color: var(--color-primary);
        margin-bottom: 1rem;
      }

      p {
        margin: 0.5rem 0;

        b {
          color: var(--dark-blue);
        }
      }

      .product-details {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem; /* Increase the gap between details */

        .detail-item {
          flex: 1;
          padding: 1.5rem;
          border-radius: 8px;
          background-color: #ffffff;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

          p {
            font-size: 1.6rem; /* Increase font size */
            margin: 0.5rem 0;
          }
        }
      }
    }
  }

  .notes-box {
    border: 1px solid var(--light-blue);
    padding: 2rem; /* Increase padding */
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;

    h4 {
      margin-bottom: 1rem;
      color: var(--dark-blue);
      font-weight: 600;
      font-size: 1.8rem; /* Increase font size */
    }

    div {
      color: var(--color-dark);
    }
  }

  h4,
  h5,
  h6 {
    color: var(--color-primary);
    font-weight: 600;
  }

  h4 {
    font-size: 1.8rem; /* Increase font size */
  }

  h5,
  h6 {
    font-size: 1.6rem; /* Increase font size */
  }

  hr {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin: 2rem 0;
  }

  code {
    display: block;
    background-color: #f1f4f8;
    padding: 1rem; /* Increase padding */
    border-radius: 8px;
    font-size: 1.3rem; /* Increase font size */
    color: var(--color-dark);
    margin-top: 1.5rem;
  }
}
.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out; /* Add a transition for fade-in effect */
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
