.password {
  position: relative;

  input {
    width: 100%;
    padding-right: 2.5rem; // Add padding to the right to prevent text from overlapping with the icon
    padding: 0.8rem 1rem; // Adjust the padding to match the height
    font-size: 1.6rem; // Adjust the font size for better visibility
    border: 1px solid #ddd;
    border-radius: 8px; // Match the border-radius to make it look smooth
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: var(--light-blue);
      box-shadow: 0 0 5px rgba(31, 147, 255, 0.3);
      outline: none;
    }
  }

  .icon {
    position: absolute;
    top: 50%; // Position the icon at 50% height of the input
    right: 1rem;
    transform: translateY(-50%); // Vertically center the icon
    cursor: pointer;
  }
}
