.layout {
  display: flex;
}

main {
  width: 100%;
  color: #333;
  padding: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-right: 1px solid #e6e6e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  z-index: 999;

  /* Enable vertical scrolling */
  overflow-y: auto;
  /* Smooth scrolling */
  scroll-behavior: smooth;
}

.sidebar-content {
  padding-left: 10px;
  height: auto; /* Ensure this does not limit the height */
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--dark-blue);
  height: 70px;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  color: var(--color-white);
  font-weight: bold;
}

.bars {
  font-size: 24px;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.3s;
}

.bars:hover {
  color: var(--light-blue);
  transform: scale(1.1);
}

.sidebar-item {
  padding: 12px 18px;
  border-radius: 8px;
  margin: 8px;
  transition: all 0.3s ease-in-out;
  background-color: #f9f9f9;
}

.sidebar-item:hover {
  background-color: #f1f4f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.s-parent {
  margin-bottom: 1em;
  border-bottom: 1px solid #e6e6e6;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
}

.sidebar-title span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
}

.sidebar-title span .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--dark-blue);
}

.arrow-icon {
  transition: all 0.5s ease-in-out;
}

.sidebar-item.open > .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-content {
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.s-child {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.s-child:hover {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--light-blue);
}

.active {
  color: var(--color-primary);
  background-color: #e0f4ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--light-blue);
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
  font-size: 14px;
  color: #666;
}

.sidebar-item.open > .sidebar-content {
  border-left: 2px solid var(--light-blue);
  padding-left: 10px;
}
