.add-user {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-card {
    width: 100%;
    max-width: 700px; // Increased width to make the form card wider
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .user-form {
    display: flex;
    flex-direction: column;
    gap: 2rem; // Increase the gap between form fields for better spacing

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--color-dark);
        margin-bottom: 0.5rem;
      }

      input[type="text"],
      input[type="email"],
      select {
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1.5rem; // Increase padding for a more spacious input field
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: all 0.3s ease;
        outline: none;

        &:focus {
          border-color: var(--light-blue);
          box-shadow: 0 0 5px rgba(31, 147, 255, 0.3);
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: center;

      button {
        font-size: 1.6rem;
        padding: 1rem 2rem;
        border-radius: 8px;
        transition: all 0.3s ease;
        background-color: var(--light-blue);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: rgba(31, 147, 255, 0.9);
          box-shadow: 0 0 8px rgba(31, 147, 255, 0.3);
        }
      }
    }
  }
}
